Source: enlightenment-module-wallpaper2
Section: utils
Priority: optional
Maintainer: Robert Wiley <ylee@bodhilinux.com> 
Build-Depends: debhelper (>= 10), autotools-dev, libc6 (>= 2.7), enlightenment
Standards-Version: 4.5.0
Homepage: http://enlightenment.org
Rules-Requires-Root: no

Package: enlightenment-module-wallpaper2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Moon Module for enlightenment
 Adds moon phases gadget to your enlightenment desktop.
