Source: edone
Section: utils
Priority: optional
Maintainer: Robert (ylee) Wiley <ylee@bodhilinux.com>
Build-Depends: debhelper-compat (= 10),
 dh-python,
 python3-all (>= 3.8.2),
 python3-setuptools,
 libefl-dev,
 python3-efl, 
 python3-xdg
Standards-Version: 4.5.0
Homepage: https://git.enlightenment.org/apps/edone.git/
Rules-Requires-Root: no

Package: edone
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-efl, python3-xdg
Description: To do application.
 GTD (todo) application written in python-efl.
 .
 Edone is fully compliant with the Todo.txt specifications, this basically
 means that your todo items are stored in a simple and readable text file
 and that you can use any other compliant client to read/edit your tasks.
 .
 Implemented using Enlightenment Foundation Libraries (EFL).
