Source: eluminance
Section: video
Priority: optional
Maintainer: Robert (ylee) Wiley <ylee@bodhilinux.com>
Build-Depends: debhelper-compat (= 10),
 dh-python,
 python3-all (>= 3.8.2),
 python3-setuptools,
 libefl-dev,
 python3-efl, 
 python3-xdg
Standards-Version: 4.5.0
Homepage: https://git.enlightenment.org/apps/eluminance.git/
Rules-Requires-Root: no

Package: eluminance
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Simple Photo Browser
 Eluminance is a fast photo browser written in python.
 .
 Implemented using Enlightenment Foundation Libraries (EFL).
