Source: enlightenment-module-mem
Section: utils
Priority: optional
Maintainer: Robert (ylee) Wiley <ylee@bodhilinux.com>
Build-Depends: debhelper (>= 10), autotools-dev, pkg-config, libefl-dev, enlightenment
Standards-Version: 4.5.0
Homepage: https://git.enlightenment.org/enlightenment/modules/mem.git/
Rules-Requires-Root: no

Package: enlightenment-module-mem
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Memory module for the enlightenment desktop
 Memory monitor for the enlightenment desktop
