Source: enlightenment-module-diskio
Section: utils
Priority: optional
Maintainer: Robert (ylee) Wiley <ylee@bodhilinux.com>
Build-Depends: debhelper (>= 10), autotools-dev, pkg-config, libefl-dev, enlightenment
Standards-Version: 4.5.0
Homepage: https://git.enlightenment.org/enlightenment/modules/diskio.git/
Rules-Requires-Root: no

Package: enlightenment-module-diskio
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Disk io module for the enlightenment desktop
 Disk monitoring module for the enlightenment desktop
