Source: enlightenment-module-cpu
Section: utils
Priority: optional
Maintainer: Robert (ylee) Wiley <ylee@bodhilinux.com>
Build-Depends: debhelper (>= 10), autotools-dev, pkg-config, libefl-dev, enlightenment
Standards-Version: 4.5.0
Homepage: https://git.enlightenment.org/enlightenment/modules/cpu.git/
Rules-Requires-Root: no

Package: enlightenment-module-cpu
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: CPU module for the enlightenment desktop
 CPU monitor for the enlightenment desktop
