Source: enlightenment-module-desksanity
Section: utils
Priority: optional
Maintainer: Robert (ylee) Wiley <ylee@bodhilinux.com>
Build-Depends: debhelper (>= 10), autotools-dev, pkg-config, libefl-dev, enlightenment
Standards-Version: 4.5.0
Homepage: https://git.enlightenment.org/enlightenment/modules/desksanity.git/
Rules-Requires-Root: no

Package: enlightenment-module-desksanity
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Enlightenment Desksanity Module
 The desksanity module is an experimental module for various effects and
 features
